@import "tailwindcss";

:root {
  --background: #081120;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    circle at top,
    #0f172a,
    #081120 60%
  );

  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

  overflow-x: hidden;
}

/* Smooth Selection */
::selection {
  background: #2563eb;
  color: white;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #081120;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 20px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  width: max-content;
  animation: marquee 25s linear infinite;
}

.perspective{
perspective:1000px;
}